@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 2rem;
  padding: 0.1rem;
  text-align: center;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem;
  text-align: center;
}

.lead {
  color: #000;
  font-size: 1.1em;
}

.navbar {
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.4);
  position: fixed;
}

.cardproduct {
  border: none;
}

.center {
  text-align: center;
}

.mtopone {
  margin-top: 70px !important;
}

.mtoptwo {
  margin-top: 70px !important;
}

.leadtag {
  text-align: left;
  color: #165dc6;
  font-weight: 900 !important;
  font-size: 3.5em;
}

.btn {
  font-weight: 400;
}

.nameproduct {
  text-align: center;
  text-decoration: none !important;
  text-decoration-line: none !important;
}

.nameproduct:hover {
  color: #000;
}

.footer {
  background-color: #e5eef3;
  color: #073852;
}

.footer__icon {
  font-size: 2rem;
  color: #000;
  margin: 4rem 2rem;
}

.footersocial {
  margin-bottom: 2em;
}
