main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 2rem;
  padding: 0.1rem;
  text-align: center;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem;
  text-align: center;
}

.navbar {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.6);
  position: fixed;
}

.cardproduct {
  border: none;
}

.center {
  text-align: center;
}

.mtopone {
  margin-top: 60px !important;
}

.btn {
  font-weight: 400;
}

.nameproduct {
  text-align: center;
  text-decoration: none !important;
  text-decoration-line: none !important;
}

.nameproduct:hover {
  color: #000;
}
